.team__people {
  align-items: flex-start;
}

.team__people__text {
  margin-left: 0;
  margin-top: 1.5rem;
}

.team__people__photo {
  margin-top: 0;
  margin-left: auto;
  margin-right: 0;
}

.team__people__photo__img {
  border-radius: var(--ifm-global-border-radius);
  box-shadow: var(--image-shadow);
  height: auto;
}

.team__work {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
  padding: 1.5rem;
  background: #454759;
  font-size: var(--font-size-normal);
  border-radius: var(--ifm-global-border-radius);
}

.team__work__text {
  display: flex;
  align-items: center;
  max-width: 75%;
}

.team__work__logo {
  display: flex;
  align-items: center;
  width: 76px;
  height: 76px;
  flex-shrink: 0;
  margin-right: 1.5rem;
}

.team__work__cta {
  margin-left: auto;
}

.team__articles {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.team__article {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.team__article__details {
  display: flex;
  align-items: center;
}

.team__article__title a {
  color: var(--palette-white);
}

.team__article__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.team__article__text {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team__article__author {
  margin-bottom: 0;
  font-weight: var(--ifm-font-weight-bold);
}

.team__article__position {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 997px) {
  .team__work {
    flex-direction: column;
  }

  .team__work__text {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .team__work__logo {
    display: none;
  }

  .team__work__cta {
    margin-right: auto;
  }

  .team__people {
    padding-top: 0;
  }

  .team__people__text {
    margin-top: 0;
  }

  .team__people__photo__img {
    margin-top: 3rem;
  }
}
