.title {
  font-size: var(--font-size-normal);
}

.article {
  display: block;
  max-width: 340px;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 30px 0px;
  background: var(--theme-card-bg-color);
  border-radius: var(--theme-card-border-radius);
  border: var(--theme-tutorial-post-card-border);
  color: var(--theme-card-text-color);
}

.article:hover {
  color: var(--theme-card-text-color);
  border: var(--theme-tutorial-post-card-hover-border);
}

.article__content {
  display: block;
  padding: 1rem;
}

.article__image {
  height: 100%;
  width: 100%;
  max-height: 140px;
  min-height: 140px;
  object-fit: cover;
  border-top-left-radius: var(--theme-card-border-radius);
  border-top-right-radius: var(--theme-card-border-radius);
  background: var(--theme-card-illustration-bg-color);
}
