.bookingCards {
  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch;
  gap: 2rem;
}

.bookingCards > div {
  margin-bottom: 0 !important; /* override .flashy in ../../../css/cloud/flashy.module.css :( */
}

@media screen and (min-width: 750px) {
  .bookingCards {
    grid-template-columns: 1fr 1fr;
  }
}
