.getAccess {
  margin-bottom: 2rem;
}

.topScreens {
  position: relative;
  width: 100%;
  height: 550px;
}

@media screen and (min-width: 462px) {
  .topScreens {
    height: 600px;
  }
}

@media screen and (min-width: 572px) {
  .topScreens {
    height: 700px;
  }
}

@media screen and (min-width: 722px) {
  .topScreens {
    height: 800px;
  }
}

.screenshot {
  position: absolute;
}
