.logos {
  display: flex;
  align-content: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.7);
  filter: brightness(0) invert(0.4);
}

.logoDark {
  filter: brightness(0) invert(0.9);
}
