.logo {
  display: flex;
  width: 100%;
  margin: 0 0 50px 0;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  filter: brightness(0) invert(1);
  min-height: 40px;
  padding: 0 20px 0 20px;
}

.logo__item {
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--font-size-big-2);
  transform: scale(0.92);
  height: auto;
  vertical-align: middle;
}

@media (max-width: 996px) {
  .logo {
    justify-content: center;
    min-height: 60px;
    min-width: 170px;
    }

  .logo__item {
    margin: 2rem;
    transform: scale(0.8);
    font-size: var(--font-size-big-1);
  }
}
