.integration {
  display: flex;
  width: 100%;
  margin-top: 3rem;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.integration__item {
  display: flex;
  min-height: 160px;
  margin-top: 2rem;
  margin-bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-big-2);
  transform: scale(0.8);
}

:global(html[data-theme="light"]) .integration__item {
  filter: invert(0.5);
}

@media (max-width: 996px) {
  .integration {
    margin-top: 1rem;
    justify-content: center;
  }

  .integration__item {
    min-height: 150px;
    min-width: 170px;
    font-size: var(--font-size-big-1);
  }
}
