.product-metrics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  width: 100%;
  margin: 4rem 0 3rem 0;
}

.product-metric {
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: var(--theme-card-bg-color);
  width: 100%;
  border-radius: var(--theme-card-border-radius);
}

.product-metric__content {
  display: flex;
  align-items: center;
}

.product-metric__content svg path {
  fill: var(--palette-pink);
}

.product-metric__content__text {
  margin-left: 1rem;
}

.product-metric__content__text__header {
  font-size: var(--font-size-big-3);
  line-height: 1.1;
  margin-bottom: 0;
}

.product-metric__content__text__description {
  margin-bottom: 0;
}

@media (min-width: 998px) and (max-width: 1113px) {
  .product-metrics {
    padding: 0 2rem;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2rem;
  }
}

@media (max-width: 997px) {
  .product-metrics {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .product-metric {
    width: 75%;
  }

  .product-metric:not(:last-child) {
    margin-bottom: 1rem;
  }
}
