.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--palette-charade);
}

.center {
  max-width: var(--ifm-container-width);
  width: 100%;
  padding: 4.5rem 1rem;
  margin: 0 auto;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 1fr;
  gap: 2rem;
  grid-template-areas:
    "logo logo"
    "tagline tagline"
    "links links";
}

@media screen and (min-width: 1000px) {
  .content {
    grid-template-areas:
      "logo logo"
      "tagline links";
  }
}

.logo {
  grid-area: logo;
}

.tagline {
  grid-area: tagline;
}

.tagline p {
  max-width: 380px;
  font-size: var(--font-size-large);
  color: #979aaf;
}

.githubButton {
  grid-area: tagline;
  justify-self: flex-start;
  background-color: var(--palette-white);
}

.githubButton:hover {
  background-color: var(--palette-white);
}

.links {
  grid-area: links;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem 1rem;
}

@media screen and (min-width: 700px) {
  .links {
    grid-template-columns: repeat(4, 1fr);
  }
}

.category {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

.title {
  font-weight: var(--ifm-font-weight-bold);
  font-size: var(--font-size-large);
  color: var(--palette-white);
}

.link {
  color: var(--palette-white);
  font-size: var(--font-size-normal);
}

.items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.border { 
  border-top: 1px solid var(--palette-white-10);
}

.bottom {
  display: flex;
  padding: 1rem 1rem 2rem;
  gap: 2rem;
  align-items: center;
  color: var(--palette-white);
}
